**/*

!/private/
!/private/.gitkeep

!/projects/
!/projects/.gitkeep

!/resources/
!/resources/.gitkeep

!/scratch/
!/scratch/.gitkeep

!/tasks/
!/tasks/.gitkeep

!/tools/
!/tools/.gitkeep

!/.agentignore
!/.gitignore
!/LICENSE
!/README.md
